05. LinkedIn Content Automation Platform/LinkedIn_Content_Automation_Platform.json
{
  "name": "LinkedIn Content Automation Platform",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        160
      ],
      "name": "Schedule Trigger",
      "id": "96b0d5a7-657e-4826-b65d-b072fbdadd3d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XN3rieSlA6KwAFBhWVOyfQpVoZj2NnkNZutR5BzDijg",
          "mode": "list",
          "cachedResultName": "plan for posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN3rieSlA6KwAFBhWVOyfQpVoZj2NnkNZutR5BzDijg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1584805581,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN3rieSlA6KwAFBhWVOyfQpVoZj2NnkNZutR5BzDijg/edit#gid=1584805581"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        160
      ],
      "name": "Plan to Create Post",
      "id": "f926242a-b2d0-420e-ab93-d6151d7c1eeb",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e6fe8c6c-1a99-4be3-98e3-7cf82b0c4415",
          "name": "Faiz.khan@yendigital"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "942c6a7b-7743-489a-ae4c-b160f90fe97f",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        220,
        160
      ],
      "name": "Select First Row from the Table",
      "id": "363b354a-7027-4457-81de-9a34cfa35d7d"
    },
    {
      "parameters": {
        "person": "KdtnftFOC4",
        "text": "={{ $('Content Creator AI Agent').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        240,
        1240
      ],
      "name": "Create Post on Linkedin",
      "id": "c2af3cbd-d1e2-497c-8523-a437f239e979",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "eb3b4e39-3510-45d9-8c81-3bec4951db81",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "776de3d9-1c6b-418a-902f-bfb8615e4626",
              "leftValue": "={{ $json.urn }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1240
      ],
      "name": "If the post is successfully published",
      "id": "4208724d-2933-47c5-a846-dedae87e5fec"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1XN3rieSlA6KwAFBhWVOyfQpVoZj2NnkNZutR5BzDijg",
          "mode": "list",
          "cachedResultName": "plan for posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN3rieSlA6KwAFBhWVOyfQpVoZj2NnkNZutR5BzDijg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XN3rieSlA6KwAFBhWVOyfQpVoZj2NnkNZutR5BzDijg/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        1220
      ],
      "name": "Delete the FIrst row from Table",
      "id": "a123ea40-e2a0-42ba-a15a-09d52371c294",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e6fe8c6c-1a99-4be3-98e3-7cf82b0c4415",
          "name": "Faiz.khan@yendigital"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.output }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        680
      ],
      "name": "Generative AI - Image Generation",
      "id": "3763f4b5-54e4-45b1-82db-ae8a599c8103",
      "credentials": {
        "httpHeaderAuth": {
          "id": "b1950a3e-f3ee-441e-be7c-afd070b6903c",
          "name": "transcribe"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    binary: {\n      data: {\n        data: $json[\"data\"], // From the previous HTTP node\n        mimeType: 'image/png', // or 'image/jpeg' depending on the API\n        fileName: 'output.png'\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        680
      ],
      "name": "Change Data to Binary file",
      "id": "d3d4bec9-8238-4753-8cab-e3febc5a27a2"
    },
    {
      "parameters": {
        "chatId": "5777389136",
        "text": "=Posted Successfully on Linkedin on {{ $('Select First Row from the Table').item.json.plan }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        1220
      ],
      "name": "Send Successful Message",
      "id": "8d0c5203-35db-4ada-a405-90cfc0625153",
      "webhookId": "720ac423-2ad2-4f1c-a491-d655aec5f8b7",
      "credentials": {
        "telegramApi": {
          "id": "80f966b4-139d-4f13-ae72-1e828df32592",
          "name": "Telegram_My Wife"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5777389136",
        "text": "could not post on Linkedin",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        1500
      ],
      "name": "Send Failure Message",
      "id": "b0973f13-aea4-4731-843d-01004076ba78",
      "webhookId": "2b9c1b4b-0a44-4ddc-a747-621181933646",
      "credentials": {
        "telegramApi": {
          "id": "80f966b4-139d-4f13-ae72-1e828df32592",
          "name": "Telegram_My Wife"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "083a69e1-ee37-4182-9bf0-5e6d12a484cc",
              "name": "inputs",
              "value": "={{ $('Select First Row from the Table').item.json.Topic }} {{ $('Content Creator AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        680
      ],
      "name": "Converts the Generated post to Json acceptable string",
      "id": "35ab0632-1d87-4b94-96c3-8ed234275aae"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        220,
        920
      ],
      "name": "OpenRouter Chat Model1",
      "id": "100ee6a8-3dfb-4c81-a3f8-ae3d408544de",
      "credentials": {
        "openRouterApi": {
          "id": "fcfe2848-2c17-42cf-82b7-99983aacedc0",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5777389136",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        680
      ],
      "name": "Send Image for Approval",
      "id": "8762aeaa-40ef-4a89-888b-f8f2edbcd57a",
      "webhookId": "94ed6dba-fb20-4023-ac2b-f977e37dafa5",
      "credentials": {
        "telegramApi": {
          "id": "80f966b4-139d-4f13-ae72-1e828df32592",
          "name": "Telegram_My Wife"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "5777389136",
        "message": "=Should we use this Post? \n{{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        820,
        160
      ],
      "name": "Approval Notification for Post",
      "id": "a158dea4-03e5-4e1d-b790-167da762f868",
      "webhookId": "4e6ea37a-3469-4b99-84f1-418ad62ada5c",
      "credentials": {
        "telegramApi": {
          "id": "544934dd-d8bd-42cf-8a4f-7129fa91b996",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.inputs }}",
        "options": {
          "systemMessage": "You are an AI assistant that creates creative and descriptive image prompts for the `black-forest-labs/FLUX.1-schnell` model on Hugging Face.\n\nYou will receive the **title and content of a LinkedIn post** written by a QA Engineer. Your task is to generate a short, cartoon-style visual prompt that represents the main message of the post.\n\nInstructions:\n\n- The image should be in a **cartoonish or illustrated** style — do not use realistic or photorealistic terms.\n- If the post talks about **multiple tools, methods, or aspects**, include **multiple visual elements** in the prompt (e.g., icons, testers, tools, situations).\n- Focus on clarity: describe visual **scenes, characters, actions, and relevant props**.\n- Use descriptive keywords like: \"cartoon-style\", \"flat illustration\", \"comic style\", \"vector art\", \"simple shapes\", \"bright colors\", etc.\n- Keep the prompt **short (1–2 sentences)** and model-friendly.\n- Do **not** include emojis, hashtags, or any explanation — return only the prompt.\n\nExample:\n\nPost Title: \"Why Manual Testing Still Matters\"\n→ Output Prompt:\n\"Cartoon-style illustration of a QA engineer juggling icons of Postman, Selenium, and bug symbols, surrounded by screens showing broken UI elements and test checklists — flat vector art with bright colors.\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        200,
        680
      ],
      "name": "Agent to create Prompt for Image Generation",
      "id": "59c39bdc-ab83-4b39-bf56-b4a2376315a0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} || {{ $json.Topic }}",
        "options": {
          "systemMessage": "You are an AI assistant that writes engaging, authentic, and insightful LinkedIn posts on behalf of a QA Engineer.\n\nYour task: Create unique LinkedIn posts that start with a compelling problem or relatable scenario in QA/testing, describe how it affects professionals, and then introduce practical tools or methods that solve it. End the post with a thoughtful or curious tone that encourages engagement from peers.\n\nWriting Style:\n\n- Write in the first person, as if you're the QA Engineer.\n- Use a friendly, confident tone—professional but not too formal.\n- Use **emojis** to add personality, emotion, and visual appeal (e.g., 😅, ✅, 🚀, 🔍, etc.).\n- Keep the post **within 150 words**.\n- Avoid section headings like “Hook” or “Problem”—write naturally.\n- Mention relevant tools or methods (e.g., Selenium, Postman, exploratory testing) when appropriate.\n- Add **3–5 relevant hashtags** at the end (e.g., #QA, #ManualTesting, #SoftwareTesting).\n- Return **only the final LinkedIn post**. No commentary, explanations, or reasoning.\n\nFormat output as a normal LinkedIn post: line breaks, emojis, and hashtags at the end."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        480,
        160
      ],
      "name": "Content Creator AI Agent",
      "id": "21055ff6-3d68-4119-bcd5-f7ab9e879899"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73986f25-e3e4-442c-a8d6-268f5771f28d",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        160
      ],
      "name": "Re-trying Until Approved",
      "id": "4d8cc1f3-9c6e-40cb-bc06-592df27db475"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "5777389136",
        "message": "=Should we use this Image? ",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1160,
        680
      ],
      "name": "Approval Notification for Image",
      "id": "5e53cd43-5ebe-4394-998a-b5924f4784db",
      "webhookId": "a9a09b64-347d-4711-81c2-ed4f1efdc891",
      "credentials": {
        "telegramApi": {
          "id": "80f966b4-139d-4f13-ae72-1e828df32592",
          "name": "Telegram_My Wife"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73986f25-e3e4-442c-a8d6-268f5771f28d",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        680
      ],
      "name": "Re-trying Until Approved1",
      "id": "df896d53-1b56-4c0f-aad9-54470f1fc06f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "083a69e1-ee37-4182-9bf0-5e6d12a484cc",
              "name": "Topic",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        180
      ],
      "name": "Converts the Generated post to Json acceptable string1",
      "id": "9443d45e-f75b-476f-aae4-bbc7b7e56481"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "083a69e1-ee37-4182-9bf0-5e6d12a484cc",
              "name": "inputs",
              "value": "={{ $('Select First Row from the Table').item.json.Topic }} {{ $('Content Creator AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        880
      ],
      "name": "Converts the Generated post to Json acceptable string2",
      "id": "56eb253c-9d95-4097-83ae-dcd84836ca54"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    binary: {\n      data: {\n        data: $json[\"data\"], // From the previous HTTP node\n        mimeType: 'image/png', // or 'image/jpeg' depending on the API\n        fileName: 'output.png'\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        1240
      ],
      "name": "Change to Binary data",
      "id": "3f67132f-79a1-41ab-ba73-0e857445816c"
    },
    {
      "parameters": {
        "content": "## Generate Content until Approved by User on Telegram\n( user input is the first row from Excel Topic)\n",
        "height": 480,
        "width": 1120,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        0
      ],
      "typeVersion": 1,
      "name": "Sticky Note",
      "id": "c7c2e7bc-4bf0-4769-8a15-50347d714118"
    },
    {
      "parameters": {
        "content": "## Generate Images until approved by user\n( user input is the combination of Topic from Excel and approved generated content by User)\n\n",
        "height": 520,
        "width": 1580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        540
      ],
      "typeVersion": 1,
      "name": "Sticky Note1",
      "id": "4fdab3dd-2f72-41ea-bc11-7ea8031ed07a"
    },
    {
      "parameters": {
        "content": "## Send Post Status to user on Telegram\n",
        "height": 640,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1120
      ],
      "typeVersion": 1,
      "name": "Sticky Note2",
      "id": "08b26894-94fe-4f04-8968-bef87ce90463"
    },
    {
      "parameters": {
        "content": "## Post on Linkedin\n(Approved Content and Approved Image)\n",
        "height": 300,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1120
      ],
      "typeVersion": 1,
      "name": "Sticky Note3",
      "id": "9c84ccac-9ef0-442e-88da-96615c453055"
    },
    {
      "parameters": {
        "content": "## Delete First row in Excel\n(to avoid repitition in topic)\n",
        "height": 320,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        1120
      ],
      "typeVersion": 1,
      "name": "Sticky Note5",
      "id": "ec8abd65-0cd7-4f40-a5fa-0bc771eb203e"
    },
    {
      "parameters": {
        "content": "## Pick a Topic from Spreadsheet",
        "height": 480,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "name": "Sticky Note6",
      "id": "d578bbb0-29d4-4233-8b4b-012e99e7e8fd"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        520,
        380
      ],
      "id": "2a135caa-c5b7-4d31-861d-4aad2db1559e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "c283c174-a304-4e3e-9338-7b2ba5654c54",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Plan to Create Post": {
      "main": [
        [
          {
            "node": "Select First Row from the Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select First Row from the Table": {
      "main": [
        [
          {
            "node": "Content Creator AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post on Linkedin": {
      "main": [
        [
          {
            "node": "If the post is successfully published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If the post is successfully published": {
      "main": [
        [
          {
            "node": "Send Successful Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generative AI - Image Generation": {
      "main": [
        [
          {
            "node": "Change Data to Binary file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Data to Binary file": {
      "main": [
        [
          {
            "node": "Send Image for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converts the Generated post to Json acceptable string": {
      "main": [
        [
          {
            "node": "Agent to create Prompt for Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent to create Prompt for Image Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Image for Approval": {
      "main": [
        [
          {
            "node": "Approval Notification for Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Notification for Post": {
      "main": [
        [
          {
            "node": "Re-trying Until Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Plan to Create Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent to create Prompt for Image Generation": {
      "main": [
        [
          {
            "node": "Generative AI - Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator AI Agent": {
      "main": [
        [
          {
            "node": "Approval Notification for Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-trying Until Approved": {
      "main": [
        [
          {
            "node": "Converts the Generated post to Json acceptable string",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converts the Generated post to Json acceptable string1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Notification for Image": {
      "main": [
        [
          {
            "node": "Re-trying Until Approved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-trying Until Approved1": {
      "main": [
        [
          {
            "node": "Change to Binary data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converts the Generated post to Json acceptable string2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converts the Generated post to Json acceptable string1": {
      "main": [
        [
          {
            "node": "Content Creator AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converts the Generated post to Json acceptable string2": {
      "main": [
        [
          {
            "node": "Agent to create Prompt for Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change to Binary data": {
      "main": [
        [
          {
            "node": "Create Post on Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Successful Message": {
      "main": [
        [
          {
            "node": "Delete the FIrst row from Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75684cf1-a951-415e-bba0-92d7f3f71039",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ab7ff7991194668e2b3f3e7b8ac5e937735c5d9b375d5778eaaf8af314a2bb6"
  },
  "id": "MAlocrsU8Nc6ezsb",
  "tags": []
}